* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-dENCOREation: none;
	list-style-type: none;
}


.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


@font-face {
	font-family: Futura_PT;
	src: url('/fonts/FuturaCyrillicBold.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: Futura_book;
	src: url('/fonts/FuturaCyrillicBold.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}

.nav {
	background-image: linear-gradient(135deg, rgb(43,184,250), rgb(236, 4, 206));
/*	overflow: auto;*/
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: .8rem 5vw;
}

.logo_hold {
	width: 4rem;
	height: 4rem;
}

.logo_hold a .logo {
	width: 100%;
	height: 100%;
}

.encor {
	font-family: Futura_PT;
	font-size: 2rem;
	color: #f8f9fa;
	font-weight: 700;
	text-align: center;
}

div.register a{
	display: inline-block;
	color: #f8f9fa;
	font-family: Futura_book;
	font-size: 1.1rem;
	letter-spacing: .05rem;
	font-weight: 600;
	padding: .8em 1.4em;
	border-radius: 1rem;
	border: 2px solid #f8f9fa;
}

@media only screen and (max-width: 600px) {

	.col-esd-1 {width: 8.33%;}
	.col-esd-2 {width: 16.66%;}
	.col-esd-3 {width: 25%;}
	.col-esd-4 {width: 33.33%;}
	.col-esd-5 {width: 41.66%;}
	.col-esd-6 {width: 50%;}
	.col-esd-7 {width: 58.33%;}
	.col-esd-8 {width: 66.66%;}
	.col-esd-9 {width: 75%;}
	.col-esd-10 {width: 83.33%;}
	.col-esd-11 {width: 91.66%;}
	.col-esd-12 {width: 100%;}

	.logo_hold {
		width: 3rem;
		height: 3rem;
	}

	.encor {
		display: none;
	}

	div.register a{
		font-size: .9rem;
	}
}